// Example test config - requires a minimal set of input data (to be hosted in ikmb/nf-testdata)
params {

	samples = "https://raw.githubusercontent.com/ikmb/nf-testdata/master/variant-calling/samples.csv"
	fasta = "https://raw.githubusercontent.com/ikmb/nf-testdata/master/variant-calling/chr22.fa.gz"
	tools = 'deepvariant,freebayes'
	email = "m.hoeppner@ikmb.uni-kiel.de"
	run_name = "pipeline_test"
	max_cpus = 6
}
